html, body {
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 300;
}

#sidebar {
    background-image: url('https://i.pinimg.com/originals/4f/7d/5c/4f7d5c4131c7c0dd18d5dd3fd038e0bf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

#sidebar::after {
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0.6;
    z-index: -1;
}


.navbar hr {
    border-color: rgb(204, 204, 204);
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(224, 224, 224);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(224, 224, 224, 0.5);
}

.sidebar-list {
    margin-top: 20px;
    text-align: center;
}

.img-profile {
    display: block;
    width: 7rem;
    height: 7rem;
    margin: auto;
    box-shadow: 0 0 50px 5px rgba(130, 138, 58, 0.65);
    /* border: 0.25rem solid rgba(153, 153, 153, 0.74); */
}

.icon-skill {
    font-size: 2.8em;
    fill: #7a2a2a;
}

.icon-skill:hover {
    font-size: 3.2em;
}

ul.skill-list, ul.sub-list {
    list-style: none;
    padding-left: 0;
}

ul.skill-list > li, ul.sub-list > li {
    margin-top: 10px;
}

ul.sub-list > li {
    padding-left: 40px;
}

ul.sub-list > li::before {
    content: "✨ "
}

ul.skill-list > li::before {
    content: "🛠 "
}

.real-content {
    word-break: break-all;
}

/* For smaller screen than Large */
@media(max-width: 1200px) {
    .real-content,
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}


/* For smaller screen than Medium */
@media(max-width: 768px) {
    .real-content {
        width: 100%;
        margin-top: 2rem;
    }
    .navbar hr {
        width: 50%;
    }

    .pt-smaller-md {
        padding-top: 2rem;
    }
}

/* For bigger screen than Medium */
@media(min-width: 768px) {
    html, body {
        background-color: #fefcfc;
    }

    .navbar-brand {
        margin: auto;
    }

    #sidebar {
        position: fixed;
        left: 0;
        top: 0;

        padding-top: 10vh;
        height: 100vh;
        width: 18rem;
        
        display: flex;
        flex-direction: column;

        text-align: center;
    }

    .real-content {
        position: absolute;
        width: calc(100% - 18rem);
        max-width: 1000px;
        top: 0;
        left: 18rem;
    }

    .img-profile {
        width: 10rem;
        height: auto;
    }

    .name {
        display: block;
        font-size: 1.3em;
        padding-top: 10px;
    }

    .flex-column-c {
        display: flex;
        flex-direction: column;
    }

    .sidebar-list {
        padding-top: 3vh;
        width: 100%;
        margin: auto;
    }
}