.project-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 30px;
}

.project-card {
  width: calc(50% - 15px);
  /* box-shadow: 0 0px 7px rgb(0 0 0 / 7%); */
  border: 1px solid rgb(0 0 0 / 7%);
  padding: 35px;
}

.project-card > a,
.extra-project > a {
  text-decoration: none;
  color: #000000;
}

.project-card > a:hover,
.extra-project > a:hover {
  color: #273d6de5;
}

.project-card > p {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 0.95rem;
}

.year {
  padding-bottom: 10px;
  text-decoration: underline;
}

/* For smaller screen than Large */
@media (max-width: 1120px) {
  .project-card {
    width: 100%;
    padding: 25px;
  }
}

/* For smaller screen than Medium */
@media (max-width: 768px) {
  .project-card {
    width: calc(50% - 15px);
  }
}

@media (max-width: 660px) {
  .project-card {
    width: 100%;
  }
}

/* For bigger screen than Medium */
@media (min-width: 768px) {
}
